<h3 style="margin-top: 0;">Từ khóa tìm kiếm</h3>
<p style="text-align:center;color:red;">{{error}}</p>
<div class="input-group" style="margin-top: 15px;width:100%;">
    <input id="key" style="text-align:center;" type="text" class="form-control nguyeninput" name="key" ng-model="key" placeholder="Nhập từ khóa tìm kiếm">
</div>

<div style="width:100%;text-align:center;margin-top:20px;">
    <input type="button" value="Tìm" class="btnModal" ng-click="searchKey()" style="margin-right:10px;" /><input type="button" value="Đóng" class="btnModal" ng-click="closeThisDialog()" />
</div>