<div ng-show="loading" class="LoadingParent">
    <div class="LoadingOver"></div>
    <div class="LoadingContent"><i class="fa fa-spinner fa-spin"></i><br />Đang tải...</div>
</div>
﻿<div class="row box-content" style="height:20px;width:100%;position: fixed;top: 0;background: #fff;z-index: 1000;">

</div>
<div class="row box-content" style="padding-top:20px;">
    <div class="col-xl-12" style="text-align:center;margin-top: 20px;margin-bottom: 25px;">
        <img src="img/logo.gif" style="height: 50px;">
    </div>
</div>
<div class="divcontain-nhomsanpham box-content">


    <div class="row" ng-repeat="nhom in nhomsanpham" style="border-top: 1px solid #d6d2d4;">
        <div ng-click="togglenhomcap2(nhom.ID)" class="col-xl-12 nhom-{{nhom.ID}}" ng-class-odd="'nhomodd'" ng-class-even="'nhomeven'" style="padding:0;position:relative;">
            <img style="width:100%;" 	bn-lazy-src="{{nhom.Hinh}}"  >
            <div class="div-gradient" style="position: absolute;width:40%;height:100%;top:0;"></div>
            <div class="title-nhomsanpham" style="position: absolute;top: 50%;transform: translate(0, -50%);" ng-bind-html="get_pre(nhom.Ten)">
            </div>
        </div>
        <ul class="ulda{{nhom.ID}}" ng-show="nhom.NhomSanPhamCap2.length > 0" style="text-align: left; list-style: none; font-family: arial; padding-left: 20px; line-height: 200%; padding-top: 10px; color: rgb(182, 0, 1); text-transform: uppercase; display: block;display:none;">
            <li ng-click="directSanPham(nhomcap2.ID)" ng-repeat="nhomcap2 in nhom.NhomSanPhamCap2">
                {{nhomcap2.Ten}}
            </li>
        </ul>
    </div>

</div>
<div class="row div-bottom box-content" style="position: fixed;bottom: 0;background: #e2332e;width: 100%;">
    <div class="col-xs-3" style="text-align:center;padding: 0;width: 20%;padding-top: 5px;">
        <img src="images/logoicon.png">
        <div style="width:100%;">
            <a style="color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:13px;">Trang Chủ</a>
        </div>
    </div>
    <div class="col-xs-3" style="text-align:center;padding: 0;width: 20%;padding-top: 5px;background-color:#b60001;">
        <img src="images/iconsanpham.png" style="padding: 7px 0;">
        <div style="width:100%;">
            <a style="color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:13px;">Sản Phẩm</a>
        </div>
    </div>
    <div class="col-xs-3" style="text-align:center;padding: 0;width: 20%;padding-top: 5px;">
        <a href="#/tintuc">
            <img src="images/icontintuc.png" style="padding: 4px 0 6px 0;">
            <div style="width:100%;">
                <span style="color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:13px;">Tin Tức</span>
            </div>
        </a>
    </div>
    <div class="search-san-pham"></div>
    <div class="col-xs-3" style="text-align:center;padding: 0;width: 20%;padding-top: 5px;">
        <a href="#/account">
            <i class="fa fa-user-circle-o" aria-hidden="true" style="color: #fff;font-size: 26px;padding: 4px 0 6px 0;"></i>
            <div style="width:100%;">
                <span style="color:#fff;font-family:Arial, Helvetica, sans-serif;font-size:13px;">Tài Khoản</span>
            </div>
        </a>
    </div>

</div>